* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.grey-bg {
  display: none; }
  @media screen and (min-width: 768px) {
    .grey-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      min-height: 200px;
      background-color: #eeedef;
      display: block; } }

.clear:after, .main:after, .content-holder .column:after {
  content: "";
  display: table;
  clear: both; }

.main {
  position: relative; }
  @media screen and (min-width: 768px) {
    .main {
      padding: 50px; } }
  @media screen and (min-width: 1200px) {
    .main {
      padding: 100px 40px 0px 200px; } }

.banner-holder {
  position: relative;
  min-height: 200px;
  background-color: #d8d8d8; }
  @media screen and (min-width: 1200px) {
    .banner-holder {
      display: inline-block;
      width: 40%;
      vertical-align: bottom;
      min-height: 380px; } }
  .banner-holder .notification-box {
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 85%;
    background-color: #fff;
    padding: 15px;
    border-bottom: 5px solid #0165a7; }
    .banner-holder .notification-box p {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      color: #0165a7; }
    @media screen and (min-width: 768px) {
      .banner-holder .notification-box {
        right: auto;
        bottom: -40px;
        left: -1px;
        width: 90%;
        padding: 15px 25px; } }
    @media screen and (min-width: 1200px) {
      .banner-holder .notification-box {
        right: -220px;
        left: auto;
        top: 60px;
        bottom: auto;
        width: 65%; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .banner-holder {
      float: left;
      width: 50%;
      min-height: 296px; } }

.content-holder {
  padding: 0 15px;
  background-color: #fff; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .content-holder {
      float: left;
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    .content-holder {
      display: inline-block;
      width: 50%;
      vertical-align: bottom; } }
  .content-holder .text {
    font-size: 14px;
    margin: 0;
    padding-right: 10px; }
    @media screen and (min-width: 1200px) {
      .content-holder .text {
        margin-bottom: 60px; } }
  .content-holder .box {
    height: 56px;
    background-color: #d8d8d8; }
  .content-holder .column {
    padding: 20px 0;
    border-bottom: 1px dotted #d8d8d8; }
    @media screen and (min-width: 1200px) {
      .content-holder .column {
        border-bottom: 0;
        padding: 0px 15px;
        border-right: 1px dotted #d8d8d8;
        display: inline-block;
        width: 32%; }
        .content-holder .column:last-child {
          border-right: 0; } }
    .content-holder .column .inline-div {
      float: left; }
      .content-holder .column .inline-div:first-child {
        width: 60%; }
        @media screen and (min-width: 1200px) {
          .content-holder .column .inline-div:first-child {
            width: 100%; } }
      .content-holder .column .inline-div:last-child {
        width: 40%; }
        @media screen and (min-width: 1200px) {
          .content-holder .column .inline-div:last-child {
            width: 100%; } }
      @media screen and (min-width: 1200px) {
        .content-holder .column .inline-div {
          float: none; } }

/*# sourceMappingURL=style.css.map */
